.mainStory {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.mainFeature {
	display: flex;
	flex-direction: column;
	width: 30%;
	gap: 1rem;
	justify-content: space-between;
}

.topLayout {
	padding: 0.5rem 0;
	/* background: #0d5194; */
	display: flex;
	gap: 1rem;
}

.lastCol {
	width: 30%;
	gap: 1rem;
}

.lastColArticles {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: space-between;
}

/* Mobile Layout */
@media screen and (max-width: 768px) {
	.topLayout {
		flex-direction: column;
		gap: 1rem;
	}
	.mainStory {
		width: 100%;
	}
	.mainFeature {
		width: 100%;
	}
	.lastCol {
		width: 100%;
	}
}
