.newsGrid__header {
  display: flex;
  justify-content: space-between;
}

.viewMoreHeader {
  width: fit-content;
  display: none;
}

.cardGrid {
  display: grid;
}

.cardGrid div {
  margin: 10px;
}

.viewMore {
  display: block;
}

@media screen and (min-width: 600px) {
  .horizontalScroll {
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 10px 10px;
  }

  .viewMore {
    display: none;
  }

  .viewMoreHeader {
    display: block;
  }
}
