.newsCardOnlyText {
	background: transparent;
	border-radius: 0;
	overflow: visible;
	border: none;
	border-bottom: 1px solid #eee;
	margin: 0;
	padding: 0.2rem 0;
	position: relative;
	transition: all 0.3s ease;
}

.newsCardOnlyText:hover {
	transform: translateY(-2px);
	cursor: pointer;
}

.headlineOnly {
	font-size: 1rem;
	font-weight: 500;
	color: #161a1d;
	text-align: justify;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* Limit to 2 lines */
	-webkit-box-orient: vertical;
	margin: 0;
	padding: 0;
	transition: color 0.3s ease;
}

.newsCardOnlyText:hover .headlineOnly {
	color: #ba181b;
}

.author {
	font-size: 0.85rem;
	color: #777;
	margin-top: 0.3rem;
	line-height: 1.2;
}

.newsCardContent {
	margin: 0.5rem 0 0.3rem; /* Reduced bottom margin to decrease gap */
}

.content {
	font-size: 0.9rem;
	color: #555;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* Limit to 2 lines */
	-webkit-box-orient: vertical;
}

.newsCardFooter {
	text-align: right;
	margin-top: 0.3rem; /* Reduced margin to shrink gap */
	font-size: 0.8rem; /* Smaller font size for a sleeker look */
	color: #ba181b;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease, text-decoration 0.3s ease;
}

.newsCardFooter:hover {
	color: #ba181b;
	text-decoration: underline;
}
