.sectionHeaderContainer {
	margin: 2rem 0 1.5rem 0;
	position: relative;
}

.headerContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.sectionHeader {
	background-color: black;
	/* margin-top: 30px; */
	color: white;
	width: max-content;
	height: max-content;
	padding: 5px 15px;
	font-size: 1.2rem;
	letter-spacing: 0.05rem;
	font-weight: 400;
	position: relative;
	transition: all 0.3s ease;
}

.sectionHeader:hover {
	background-color: #ba181b;
	transform: translateY(-1px);
	box-shadow: 0 2px 4px rgba(186, 24, 27, 0.2);
}

.sectionHeader:hover + .sectionHeaderUnderline {
	/* Styles for element2 when element1 is hovered */
	background: linear-gradient(
		to right,
		#ba181b 0%,
		rgba(186, 24, 27, 0.1) 100%
	);
}

.sectionHeaderUnderline {
	position: relative;
	bottom: 10px;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, #333 0%, rgba(51, 51, 51, 0.1) 100%);
	margin-top: 0.5rem;
	transition: all 0.3s ease;
}
